@import '../../styles/main'

.wrap
    position: absolute
    max-width: 350px
    bottom: 78%
    left: 12%
    right: 12%
    center: 0
    height: 225px
    border-radius: 12px
    background-color: #e61f59
    background-image: radial-gradient(ellipse farthest-corner at right bottom, $primary 0%, #E61F59 50%, $p-dark 100%)
    box-shadow: 0px 5px 10px 0px #e61f5736
    border: 1px solid lightgray




    
